name: Build, publish and run docker images on the server

on:
  push:
    branches: [master]

jobs:
  build-and-push-docker-image:
    name: Build and push docker image
    runs-on: ubuntu-latest
    steps:
      - name: Chechout code
        uses: actions/checkout@v3

      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Github packages
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image and push to Github Packages
        uses: docker/build-push-action@v2
        with:
          context: ./ui/docker
          tags: ghcr.io/jakub-spiewak/money/ui:latest
          push: true
      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
