name: Deploy docker images on server

on:
  workflow_run:
    workflows:
      - "build-server"
      - "build-ui"
  push:
    branches: [ master ]
    paths:
      - "server/*"
      - "ui/*"

jobs:
  pull-newest-image-on-server-and-run:
    name: Pull and run the newest images on server
    runs-on: ubuntu-latest

    steps:
      - name: Pull and run the newest docker images via ssh
        uses: appleboy/ssh-action@master
        with:
          host: jakubspiewak.com
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd money
            git pull
            docker-compose -f docker-compose-prod.yml stop
            docker-compose -f docker-compose-prod.yml pull
            docker-compose -f docker-compose-prod.yml up -d
            docker image prune -af

